body {font-family: constantia;}
h1 {color: gold;
    font-size: 50px;
}

a {color: rgb(14, 1, 1);
    text-decoration: underline;}

a {font-size: 50px;}

a:hover {color: blue;
    text-decoration:none}

li {font-size: 50px;}



th {color: red;
font-size: 30px;}
td{color: blue ;
font-size: 20px;}


table {width: 100%;
    border-collapse: collapse;}

 tr, td, th  {text-align: center;
    border: 5px solid blue;}
       
    



