* {margin: 0;
padding: 0;
text-decoration: none;
outline: none;}
body {
    width: 100%;
    background-color: aliceblue;}

    form{
    background-color: rgb(236, 242, 247);
    position: absolute;
    width: 320px;
    height: 270px;
    padding: 10px 5px 20px 5px;
    margin: -10vh 850px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px -7px;}

    input[type="text"] ,input[type="password"]{
        display: block;
        background-color: aliceblue;
        margin: auto;
        border: 1.5 solid aliceblue;  
        width: 200px;
        padding: 10px 40px;
        border-radius: 5px;
        text-align: center;
        color: black;
        font-family: 'segoe ui';
        font-size: 1;}
        

        button {
       border: none;
       background-color: rgb(64, 64, 180);
       color: aliceblue;
       margin: auto;
       width: 283px;
       display: block;
       border-radius: 5px;
       padding: 10px 0;
       font-weight: bold;
       cursor: pointer;}  
       


       .f-pws{display: block;
    width: 200px;
    margin: auto;
    color: rgb(62, 62, 224);  
    padding-left: 80px;
    font-family: "segoe ui";
    font-weight: 400;}
    

    .line{border-top: 1px solid;
    opacity: 0.2;}


    .bnt2{width: 180px;
font-size: 14px;
background-color: chartreuse;
text-align: center;}

   .f-container{width: 350px;
        margin-left: 300px;
        margin-top: 30vh;
        font-family: "segoe ui",roboto,"san francisco";}
        
    .f-container img {width: 250px;}


    p{font-size: 15px;
    font-weight: 600;
    word-spacing: 3px;}

    


    