body {background-color: antiquewhite;}

a {font-size: 50px;
 background-color: aqua;
 color:black;
border:5px solid blue;
}

 a:hover{color: yellow;
text-decoration: wavy;}




h1 {font-size: 80px;
background-color: aqua;
border: 5px solid blue;}

table{width: 100%;
border-collapse: collapse;}

tr,td,th {text-align: center;
border: 5px solid blue;}

th {font-size: 40px;color: brown;}

td {font-size: 30px;color:blueviolet}