.container{
    display: flex;
    flex-direction: row;
    height: 400px;

}
.right {
    flex: 50%;
    background-color: aqua;
    padding-left: 50px;
    padding-top: 100px;
}
.left {
    flex: 50%;
    background-color: aquamarine;
    padding-left: 50px ;
    padding-top: 140PX;
}
.label1 {
padding-right: 19px;
}
.label2 {
    padding-right: 10px;
}
.label3{
    padding-right: 23px;
}
form div {
    margin-bottom: 10px;
}